body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  /* border: 12px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.genius {
  background-color: black;
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  border-radius: 50%;
  position: relative;
}

/* :not(.pontuacao) */
div.genius>* {
  cursor: pointer;
}

div.genius> :nth-child(1) {
  border-radius: 100% 0 0 0;
  background-color: rgb(0, 100, 0);
}

div.genius> :nth-child(1).on,
div.genius> :nth-child(1):hover {
  background-color: rgb(0, 189, 0);
}

div.genius> :nth-child(2) {
  border-radius: 0 100% 0 0;
  background-color: rgb(100, 0, 0);
}

div.genius> :nth-child(2).on,
div.genius> :nth-child(2):hover {
  background-color: rgb(255, 0, 0);
}

div.genius> :nth-child(3) {
  background-color: rgb(179, 179, 0);
  border-radius: 0 0 0 100%;
}

div.genius> :nth-child(3).on,
div.genius> :nth-child(3):hover {
  background-color: rgb(255, 255, 0);
}

div.genius> :nth-child(4) {
  background-color: rgb(0, 0, 100);
  border-radius: 0 0 100% 0;
}

div.genius> :nth-child(4).on,
div.genius> :nth-child(4):hover {
  background-color: rgb(0, 0, 180);
}

div.pontuacao {
  background-color: black;
  position: absolute;
  inset: 30%;
  border-radius: 50%;
  color: white;
  display: grid;
  place-items: center;
  font-size: 4rem;
}