:root {
  --nav-background: #ED4C67;
  --nav-border: .5rem solid #B53471;
}

nav {
  border: var(--nav-border);
  background: var(--nav-background);
  border-radius: 5px;
  font-size: 3rem;
}

nav :is(ul, li) {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 5px;
  transition: .3s;
}

nav li:hover {
  background-color: rgba(255, 255, 255, .5);
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li a:active {
  color: blue;
}

nav li a:visited {
  color: red;
}

nav > ul > li {
  position: relative;
}

nav ul > li > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  left: 0;
} 

nav ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}

nav ul > li:has(ul)::after {
  content: ">";
}